.github
.editorconfig
node_modules
cypress
Makefile
__snapshots__
.eslintrc.local.js
.prettierrc
.prettierignore
.release-it.json
.stylelintrc
screenshot.jpg
screenshot-edit.jpg
towncrier.toml

build
acceptance
dockerfiles

# yarn 3
.yarn
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yarnrc.yml
yarn.lock
