@import 'utils';

:root {
  --highlight-images-aspect-ratio: 1.3333;
  --highlight-images-object-position: top left;
}

.block.highlight,
.block-editor-highlight {
  .block-inner-container {
    max-width: var(--layout-container-width, 1440px);
    margin-right: auto;
    margin-left: auto;
  }

  .teaser-item {
    flex-direction: column;
    a {
      display: inline;
    }

    .highlight-image-wrapper {
      line-height: 0;

      img {
        width: 100%;
        height: auto; // important with width+height img attributes
        aspect-ratio: var(--highlight-images-aspect-ratio);
        object-fit: cover;
        object-position: var(--highlight-images-object-position);
      }
    }

    .highlight-description {
      padding-top: 80px;
      padding-bottom: 80px;
      background: var(--descriptionColor);
      color: var(--descriptionColor-foreground);

      @container (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .headtitle {
        div {
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 24px;
          text-transform: uppercase;

          @container (max-width: 768px) {
            margin-bottom: 20px;
          }
        }
      }

      .title {
        h2 {
          margin-top: 0;
          margin-bottom: 60px;
          font-size: 48px;
          font-weight: 700;
          line-height: 56px;
          @include word-break();

          @container (max-width: 768px) {
            margin-bottom: 40px;
          }
        }
      }

      .description {
        margin-bottom: 80px;

        p {
          font-size: 24px;
          font-weight: 300;
          line-height: 34px;

          a {
            color: inherit;
          }
        }

        @container (max-width: 768px) {
          margin-bottom: 60px;
        }
      }

      a.button-link-wrapper {
        text-decoration: none;
      }
      .button {
        display: initial;
        padding: 8px 20px;
        border: solid;
        border-width: 1px;
        border-radius: 0;
        color: var(--descriptionColor-foreground);
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background: var(--descriptionColor-foreground);
          color: var(--descriptionColor) !important;
        }
      }

      li {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

// Block Highlight Edit
#page-edit,
#page-add {
  .block-editor-highlight {
    // The selection of text clashes with the default ::selection,
    // replacing it with a color mix between background and foreground colors.
    ::selection {
      background-color: color-mix(
        in srgb,
        var(--descriptionColor) 60%,
        var(--descriptionColor-foreground)
      ) !important;
    }

    .block.highlight {
      .text-slate-editor-inner {
        [data-slate-node='element'] > span {
          color: inherit;
        }
      }

      .no-image-wrapper {
        display: inline-block;
        text-align: center;
      }
    }

    [data-slate-placeholder='true'] {
      --theme-low-contrast-foreground-color: var(--descriptionColor-foreground);
    }
  }
}

.section-edit,
.section-add {
  .slate-toolbar {
    min-width: unset;
    .button-wrapper:last-child {
      margin-right: 3px;
    }
  }
}

.color-picker-widget {
  button,
  .button {
    &[class*='highlight-custom-color'],
    &[class*='highlight-custom-color']:hover,
    &[class*='highlight-custom-color'].active,
    &[class*='highlight-custom-color'].active:hover {
      background-color: var(--descriptionColor);
    }
  }
}

.color-swatch-widget[class*='field-wrapper-descriptionColor'] {
  div[aria-label='Description color'] {
    flex-wrap: wrap;
  }
  .color-swatch-option-handler {
    background-color: var(--descriptionColor);
    color: var(--descriptionColor-foreground);
  }
}
